fastapi
uvicorn
streamlit
requests
openai
langchain
chromadb
pydub
python-dotenv
python-multipart
bcrypt==4.0.1
python-jose[cryptography]
passlib[bcrypt]
beautifulsoup4
watchdog
langchain-openai
huggingface_hub
streamlit-lottie
bson